
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home_page.js') }}"></script>

<script>
$(document).ready(function() {
    
    let newdata = {{data_first|tojson}}

    $.each(newdata,function(index, value){
        
        
        let fatcats = $('<a href="http://127.0.0.1:5000/view/'+value.id+'"><div class="titleunico">'+value.title+'</div></a>')
        let uglycats = $('<div class="col-md-4">');
        uglycats.append('<a href="http://127.0.0.1:5000/view/'+value.id+'"><img class="card-img-top" alt="documentary cover for '+value.title+'" src='+value.image+'></a>')
        uglycats.append('<div class="card-text"> &#9733; Score: '+value.score+ '</div>')
        uglycats.append(fatcats)
        $('#homepage_links').append(uglycats);
        

    })

})


    
</script>

<div class="container-fluid main-container">
    <div class="row firstrow" id="welcome_title">
        <b> VEGANISTA </b>
    </div>
    <br>
    <div class="row welcometext"> 
            <div class="simple_class">Tackling topics ranging from earth's conservation to animal rights, find the documentaries that should be on <i>everyone's</i> watchlist.
            <br>
            <br>
            To start, here are three <b> <u>top-rated</u> </b> documentaries that could change the way you live:</p>
            </div>
        </div>
    <p></p> 

    <div class="row contentrow" id="homepage_links"></div>
</div>

{% endblock %}